[package]
name        = "oxc-browserslist"
version     = "0.16.1"
authors     = ["Boshen <boshenc@gmail.com>", "Pig Fang <g-plane@hotmail.com>"]
edition     = "2021"
description = "Rust-ported Browserslist for Oxc."
repository  = "https://github.com/oxc-project/oxc-browserslist"
license     = "MIT"
keywords    = ["javascript", "web"]
categories  = ["config", "web-programming"]
include     = ["/src", "/examples", "/benches"]

[workspace]
members = [".", "xtask"]

[workspace.lints.rust]
unsafe_code                            = "warn"
absolute_paths_not_starting_with_crate = "warn"
non_ascii_idents                       = "warn"
unit-bindings                          = "warn"

[workspace.lints.clippy]
all           = { level = "warn" }
dbg_macro     = "warn"
todo          = "warn"
unimplemented = "warn"
cargo         = { level = "warn", priority = -1 }

[lints]
workspace = true

[lib]
name       = "browserslist"
crate-type = ["cdylib", "rlib"]

[dependencies]
rustc-hash = "1.1.0"
chrono = { version = "0.4.31", features = [
  "clock",
  "oldtime",
  "std",
], default-features = false } # disable wasmbind by default
either = "1.9"
indexmap = { version = "2.1", features = ["serde"] }
itertools = "0.13"
nom = "7.1"
once_cell = "1.19"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"

[dev-dependencies]
clap       = { version = "4.4", features = ["derive"] }
criterion2 = { version = "0.9.0", default-features = false }
test-case  = "3.3"

[target.'cfg(target_arch = "wasm32")'.dependencies]
getrandom          = { version = "0.2", optional = true }
js-sys             = { version = "0.3", optional = true }
serde-wasm-bindgen = { version = "0.6", optional = true }
wasm-bindgen       = { version = "0.2", optional = true }

[[bench]]
name    = "resolve"
harness = false

[features]
default      = []
wasm_bindgen = ["chrono/wasmbind", "getrandom", "getrandom/js", "js-sys", "serde-wasm-bindgen", "wasm-bindgen"]
codspeed     = ["criterion2/codspeed"]

[package.metadata.cargo-shear]
ignored = ["getrandom"]
