name: Update browserslist

permissions: {}

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # Everyday

jobs:
  cron:
    name: Cron
    runs-on: ubuntu-latest
    steps:
      - uses: taiki-e/checkout-action@b13d20b7cda4e2f325ef19895128f7ff735c0b3d # v1.3.1

      - uses: oxc-project/setup-rust@c8224157c0bf235aabc633e8cd50d344f087a7de # v1.0.12
        with:
          save-cache: true
          components: rustfmt # for `cargo codegen`

      - uses: oxc-project/setup-node@141eb77546de6702f92d320926403fe3f9f6a6f2 # v1.0.5

      - name: Get old browserslist version
        id: old-version
        run: echo "version=$(jq -r '.version' node_modules/browserslist/package.json)" >> $GITHUB_OUTPUT

      - run: pnpm update --prod

      - name: Get new browserslist version
        id: new-version
        run: echo "version=$(jq -r '.version' node_modules/browserslist/package.json)" >> $GITHUB_OUTPUT

      - run: cargo codegen

      - run: cargo test

      - uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        id: cpr
        with:
          token: ${{ secrets.OXC_BOT_PAT }}
          commit-message: Update browserslist
          branch: update
          branch-suffix: timestamp
          title: Update browserslist from ${{ steps.old-version.outputs.version }} to ${{ steps.new-version.outputs.version }}
          assignees: Boshen
          base: main

      - uses: peter-evans/enable-pull-request-automerge@a660677d5469627102a1c1e11409dd063606628d # v3
        if: steps.cpr.outputs.pull-request-operation == 'created'
        with:
          token: ${{ secrets.OXC_BOT_PAT }}
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          merge-method: squash
